.item_container {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: rgb(153, 82, 153);
    border: 2px solid rgb(88, 9, 88);
    width: 80%;
    min-width: 280px;
    max-width: 600px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 10;
    cursor: default;
}

.item_container section {
    display: flex;
    flex-direction: column;
    flex: 1;
}

